# Locale / Keyboard
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

# Netzwerk
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local

# User
d-i passwd/root-login boolean false
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i passwd/user-default-groups string sudo

# Time
d-i clock-setup/utc boolean true
d-i time/zone string UTC

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/confirm boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman-basicfilesystems/no_swap boolean true
d-i partman-basicfilesystems/no_swap_seen boolean true

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish

# Mirror
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-mirror boolean false
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i apt-setup/use_mirror boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/local0/repository string
d-i apt-setup/cdrom/activate_source boolean false
# Tasks / Packages
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo

# GRUB
d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

# Vagrant-friendly late command
d-i preseed/late_command string \
    in-target mkdir -p /home/vagrant/.ssh; \
    in-target chmod 700 /home/vagrant/.ssh; \
    in-target wget -O /home/vagrant/.ssh/authorized_keys https://raw.githubusercontent.com/hashicorp/vagrant/master/keys/vagrant.pub; \
    in-target chmod 600 /home/vagrant/.ssh/authorized_keys; \
    in-target chown -R vagrant:vagrant /home/vagrant/.ssh; \
    in-target sh -c "echo 'vagrant ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/vagrant"; \
    in-target chmod 440 /etc/sudoers.d/vagrant; \
    in-target sed -i 's/^#\\?PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config; \
    in-target sed -i 's/^#\\?PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
