
dhcp-authoritative
no-hosts
dhcp-option=3,{{ common_default_gateway }}
dhcp-option=119,{{ common_domain }}

# Route example
# dhcp-option=121,10.0.4.0/24,10.0.3.3,10.0.5.0/24,10.0.3.4

dhcp-range={{ common_dhcp_range_start }},{{ common_dhcp_range_end }},{{ common_dhcp_lease_time }}

server={{common_upstream_dns }}
domain={{ common_domain }}
domain-needed
host-record={{ ansible_facts['fqdn'] }},{{ common_service_host_ip }}

{% for host_record in common_dns_host_records %}
host-record={{ host_record['fqdn']}},{{ host_record['ip'] }}
{% endfor %}

{% for cname in common_dns_cnames %}
cname={{ cname['fqdn'] }},{{ cname['target'] }}
{% endfor %}

interface={{ common_dhcp_interface }}
bind-interfaces
