network:
  version: 2
  renderer: networkd
  ethernets:
    # NAT / First NIC
    enp0s3:
      dhcp4: true
      dhcp4-overrides:
        use-dns: false

    # NatNetwork / Third NIC
    enp0s9:
{% if groups['service'] is defined and inventory_hostname in  groups['service'] %}
      dhcp4: false
      addresses:
      - {{ common_service_host_ip }}
      nameservers:
        search: [{{ common_domain }}]
        addresses: [{{ common_service_host_ip | ansible.utils.ipaddr('address')  }}]
{% else %}
      dhcp4: true
{% endif %}

{% if groups['service'] is defined and inventory_hostname in  groups['service'] %}
    # HostOnly / Second NIC
    enp0s8:
      dhcp4: true
      dhcp4-overrides:
        use-dns: false
{%- endif -%}