[defaults]
forks = 50
timeout = 60
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
host_key_checking = False
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
